%% rotating log and minimal tty
[{sasl, [
	 {sasl_error_logger, false},	
	 %% define the parameters of the rotating log
	 %% the log file directory
	 {error_logger_mf_dir,"/home/joe/error_logs"},	
         %% # bytes per logfile
	 {error_logger_mf_maxbytes,10485760}, % 10 MB
         %% maximum number of logfiles
	 {error_logger_mf_maxfiles, 10}
	]}].



