%% rotating log and errors
[{sasl, [	 
	 %% minimise shell error logging
	 {sasl_error_logger, false},
         %% only report errors
	 {errlog_type, error},
	 %% define the parameters of the rotating log
	 %% the log file directory
	 {error_logger_mf_dir,"/home/joe/error_logs"},	
         %% # bytes per logfile
	 {error_logger_mf_maxbytes,10485760}, % 10 MB
         %% maximum number of
	 {error_logger_mf_maxfiles, 10}
	]}].



