Hello {first_name} {last_name}!

Whistle here letting you know you've received a voicemail from {from_user} around {recv_timestamp}.

We've attached the mp3 to this email for you to listen to at your convenience.
