{erl_opts, [{d, debug}, debug_info]}. % uncomment to get debug messages, remove debug_info for production
{sub_dirs, ["../utils/amqp"
	    ,"../lib/erlctl"
	    ,"../lib/ibrowse"
	    ,"../lib/dynamic_compile"
	    ,"../lib/log_roller"
	   ]}. %% utilities needed
%% {deps, [
%% 	{erlctl, "0.*"}
%% 	,{ibrowse, "2.1.2"}
%% 	,{dynamic_compile, "0.1"}
%% 	,{log_roller, "0.*"}
%%        ]}.
