{erl_opts, [{d, debug}, debug_info]}. % uncomment to get debug messages, remove debug_info for production
{sub_dirs, ["../utils/amqp", "../utils/diagnostics", "../utils/couch"]}. %% utilities needed
{lib_dirs, ["../lib"]}.
%% Ignore deps as rebar doesn't handle building them
%% This list is for reference only, but $WHISLE/lib should contain the supported versions
%% {deps, [
%%  	{erlctl, "0.3"}
%%  	,{ibrowse, "2.1.2"}
%%  	,{dynamic_compile, "0.1"}
%%  	,{log_roller, "0.4"}
%% 	,{mochiweb, "1.7.1"}
%%      ]}.
