<html>
<body>
<h1>Welcome!</h1>

<p>
<h2>USER</h2>
<div>First name: {{user.first_name}}</div>
<div>Last name: {{user.last_name}}</div>
<div>Email: {{user.email}}</div>
<div>Username: {{user.username}}</div>
</p>

<p>
<h2>ACCOUNT</h2>
<div>Realm: {{account.realm}}</div>
<div>API key: {{account.pvt_api_key}}</div>
<div>Tree: {{account.pvt_tree}}</div>
</p>

<p>
<h2>REQUEST</h2>
<div>App URL: {{request.app_url}}</div>
</p>

<p>
<h2>API</h2>
<div>Host: {{api_url.host}}</div>
<div>Path: {{api_url.path}}</div>
</p>

<p>
<h2>Activation</h2>
<div>Key: {{activation_key}}</div>
</p>

</body>
</html>
