<html>
<body>
<h1>Welcome {{user.first_name}} {{user.last_name}}</h1>

<p>
Welcome to 2600hz!
</p>

<p>
You are one step away from completing your registration, <a href="{{account.app_url}}?activation_key={{activation_key}}">click on this link</a> to activate your account.
</p>

<p>
If you have any issues with this link, please copy and paste the URL below in your web browser to activate the account:

{{account.app_url}}?activation_key={{activation_key}}
</p>

</body>
</html>
