USER
First name: {{user.first_name}}
Last name: {{user.last_name}}
Email: {{user.email}}
Username: {{user.username}}

ACCOUNT
Realm: {{account.realm}}
API key: {{account.pvt_api_key}}
Tree: {{account.pvt_tree}}

API
Host: {{api_url.host}}
Path: {{api_url.path}}

Activation
Key: {{activation_key}}

REQUEST
App URL: {{request.app_url}}
