Welcome {{user.first_name}} {{user.last_name}}

Welcome to 2600hz!

You are one step away from completing your registration, and activating your account.

Please copy and paste the URL below in your web browser:

{{account.app_url}}?activation_key={{activation_key}}
