%% put this in /etc/rabbitmq/rabbitmq.config
[
 {rabbitmq_federation,
  [ {exchanges, [
		 [{exchange, "targeted"}
		  ,{type, "direct"}
		  ,{upstream_set, "whistle_apps_bunnies"}
		 ]
		 ,[{exchange, "callctl"}
		  ,{type, "direct"}
		  ,{upstream_set, "whistle_apps_bunnies"}
		 ]
		 ,[{exchange, "callevt"}
		  ,{type, "topic"}
		  ,{upstream_set, "whistle_apps_bunnies"}
		 ]
		 ,[{exchange, "resource"}
		  ,{type, "fanout"}
		  ,{upstream_set, "whistle_apps_bunnies"}
		 ]
		 ,[{exchange, "callmgr"}
		  ,{type, "topic"}
		  ,{upstream_set, "whistle_apps_bunnies"}
		  ]
		 ,[{exchange, "conference"}
		  ,{type, "topic"}
		  ,{upstream_set, "whistle_apps_bunnies"}
		  ]
		 ,[{exchange, "monitor"}
		  ,{type, "topic"}
		  ,{upstream_set, "whistle_apps_bunnies"}
		  ]
		 ,[{exchange, "configuration"}
		  ,{type, "topic"}
		  ,{upstream_set, "whistle_apps_bunnies"}
		  ]
		 ,[{exchange, "whapps"}
		  ,{type, "topic"}
		  ,{upstream_set, "whistle_apps_bunnies"}
		  ]
		]}
    ,{upstream_sets, [{"whistle_apps_bunnies", [[{connection, "other_whistle_apps_server"}] ]}]}
    ,{connections, [{"whistle_apps_bunnies", [{host, "whapps.hostname.com"}]}]}
  ]
 }

 %% default mnesia config
 ,{mnesia, [{dump_log_write_threshold, 1000}]}
].
