*~
*.log*
*.sasl
*/ebin/*.beam
*/ebin/*.app
*/deps/*/ebin/*.beam
*/ebin/*.app
*/priv/*.pid
.eunit
.*_dialyzer.plt
#*
.#*
lib/*/test
lib/*/test/*.beam
lib/*/test/*.app
lib/*/ebin/*.beam
lib/*/ebin/*.app
lib/*/priv/*.so
lib/*/c_src/*.o
lib/*/c_src/*/*.o
lib/*/deps/*/ebin/*.beam
lib/*/deps/*/ebin/*.app
lib/*/dist/*
lib/erlydtl-0.7.0/src/erlydtl_parser.erl
whistle_apps/lib/*/ebin/*.beam
whistle_apps/lib/*/ebin/*.app
whistle_apps/lib/*/priv/*.so
whistle_apps/lib/*/c_src/*.o
whistle_apps/lib/*/c_src/*/*.o
whistle_apps/lib/*/deps/*/ebin/*.beam
whistle_apps/lib/*/deps/*/ebin/*.app
whistle_apps/lib/*/test/*
whistle_apps/lib/*/dist/*
whistle_apps/lib/erlydtl-0.7.0/src/erlydtl_parser.erl
whistle_apps/test
whistle_apps/lib/*/test
whistle_apps/priv/startup.config
whistle_apps/apps/*/test
whistle_apps/apps/*/ebin/*.beam
whistle_apps/apps/*/ebin/*.app
whistle_apps/apps/crossbar/priv/ssl/*
whistle_apps/deps/lager-1.0.0/ebin/*
whistle_apps/*crash.dump
ecallmgr/priv/startup.config
ecallmgr/deps/lager-1.0.0/ebin/*
ecallmgr/*crash.dump
ecallmgr/test
utils/*/ebin/*.beam
utils/*/ebin/*.app
utils/sup/deps/getopt/
lib/rabbitmq_server-2.8.6/deps.mk
lib/rabbitmq_server-2.8.6/src/rabbit_framing_amqp_0_8.erl
lib/rabbitmq_server-2.8.6/src/rabbit_framing_amqp_0_9_1.erl
lib/zucchini-1.0.0/src/zucchini_lexer.erl
lib/zucchini-1.0.0/src/zucchini_parser.erl
