.eunit
*~
.#*
*.log*
*.sasl
*.plt
*.app
*.beam
*.so
*.o
*.pid
*.dump
core/*/test
deps/*/test
applications/*/test
deps/erlydtl-0.7.0/src/erlydtl_parser.erl
deps/rabbitmq_server-2.8.6/deps.mk
deps/rabbitmq_server-2.8.6/src/rabbit_framing_amqp_0_8.erl
deps/rabbitmq_server-2.8.6/src/rabbit_framing_amqp_0_9_1.erl
deps/zucchini-1.0.0/src/zucchini_lexer.erl
deps/zucchini-1.0.0/src/zucchini_parser.erl
utils/sup/deps/getopt/
