.eunit
.erlang.cookie
*~
.#*
*.log*
*.sasl
*.plt
*.app
*.beam
*.so
*.o
*.pid
*.dump
deps/*/rebar
core/*/test/*.app
applications/*/priv/archive_data/*
applications/*/test/*.app
deps/*/test
deps/*/examples
deps/erlang_localtime-*/include/tz_index.hrl
/.edts
.project
.settings

sup.bash

_rel/
rel/relx.config
