language: erlang
notifications:
  email: engineering@2600hz.com
  irc: 
    channels: 
      - "irc.freenode.org#switchfreedom-qa"
otp_release:
  - R15B01
  - R15B
  - R14B04
  - R14B03
script: "make compile"
after script: "make eunit"
