language: erlang
notifications:
  email:
    - engineering@2600hz.com
    - operations@2600hz.com
  irc:
    channels:
      - "irc.freenode.org#2600hz-dev"

otp_release:
  - 18.2

sudo: false

addons:
  apt:
    packages:
      - xsltproc

cache:
  apt: true
  directories:
    - $HOME/proper

before_install:
  - set -e
  - if [[ ! -d $HOME/proper/.git/ ]]; then git clone --depth=50 --branch=master https://github.com/manopapad/proper.git $HOME/proper && cd $HOME/proper && make fast; fi
  - cd $TRAVIS_BUILD_DIR

script:
  - make elvis
  - make compile-test
  - make eunit
  - # ERL_LIBS="$HOME/proper" ERLC_OPTS='-DPROPER' make compile-test
  - # ERL_LIBS="$HOME/proper" make eunit
