language: erlang
notifications:
  email:
    - engineering@2600hz.com
    - operations@2600hz.com
  irc:
    channels:
      - "irc.freenode.org#2600hz-dev"

otp_release:
  - 19.3
  - 20.3.8
#  - 21.0.3
# Lots of issues with erlang:get_stacktrace/0-related deprecations - going to take a while to unravel all this jazz

sudo: required

addons:
  apt:
    packages:
      - xsltproc
      - libreoffice
      - libtiff-tools
      - ghostscript

cache:
  apt: true

before_install:
  - set -e

script:
  - ERLC_OPTS='-DPROPER' make compile-test
  - make eunit
# To run tests yourself: make compile-test && make test

after_success:
  - if [[ "$TRAVIS_REPO_SLUG" == '2600hz/kazoo' ]]; then make coverage-report; fi
