language: erlang
notifications:
  email:
    - engineering@2600hz.com
    - operations@2600hz.com
  irc:
    channels:
      - "irc.freenode.org#2600hz-dev"

otp_release:
  - 18.2

addons:
  apt:
    packages:
      - xsltproc

cache:
  directories:
    - $HOME/proper

sudo: false

before_install:
  - set -e
  - if [[ ! -d $HOME/proper/.git/ ]]; then git clone --depth=50 --branch=master https://github.com/manopapad/proper.git $HOME/proper && cd $HOME/proper && make fast; fi
  - cd $TRAVIS_BUILD_DIR

script: make compile

after_success:
  - if [[ 0 -ne `git status --porcelain -- applications/ core/ | wc -l` ]]; then echo Unstaged changes! && git status --porcelain && exit 1; fi
  - make xref
  - make build-plt
  - git fetch origin master:master
  - files="$(git diff --name-only master... -- application/ core/)" || true
  - ./scripts/check-dialyzer.escript $files
  - make build-release
  - ERL_LIBS="$HOME/proper" make eunit
  - ./scripts/check-whitespace.sh core/ applications/
