language: erlang
notifications:
  email:
    - engineering@2600hz.com
    - operations@2600hz.com
  irc:
    channels:
      - "irc.freenode.org#2600hz-dev"

otp_release:
  - 18.1
  - 17.5
  - R15B03

addons:
  apt:
    packages:
      - xsltproc

cache:
  directories:
    - $HOME/proper

sudo: false

before_install:
  - set -e
  - if [[ ! -d $HOME/proper/.git/ ]]; then git clone --depth=50 --branch=master https://github.com/manopapad/proper.git $HOME/proper && cd $HOME/proper && make fast; fi
  - cd $TRAVIS_BUILD_DIR

script: ERLC_OPTS='+nowarn_deprecated_type +nowarn_deprecated_function' make compile

after_success:
  - if [[ 0 -ne `git status --porcelain -- applications/ core/ deps/ | wc -l` ]]; then echo Unstaged changes! && git status --porcelain && exit 1; fi
  - make xref
  - make build-plt
  - git fetch origin master:master
  - files="$(git diff --name-only master.. | grep -v deps/)" || true
  - ./scripts/check-dialyzer.escript $files
  - OTP_VSN="$(erl -noshell -eval 'erlang:display(erlang:system_info(otp_release)).' -s init stop)"
  - echo .$OTP_VSN.
  - echo .$TRAVIS_OTP_RELEASE.
  - ERL_LIBS="$HOME/proper" ERLC_OPTS='+nowarn_deprecated_type +nowarn_deprecated_function' make eunit
  - ./scripts/check-whitespace.sh core/ applications/
