{minimum_otp_vsn, "18.0"}.
{deps_error_on_conflict, false}.
{validate_app_modules, true}.
{compiler_source_format, relative}.

{profiles, [{default, [{erl_opts, [debug_info
                                  ,warnings_as_errors
                                  ,warn_export_all
                                   %% ,warn_export_vars
                                  ,warn_unused_import
                                  ,warn_unused_vars
                                  ,warn_missing_spec
                                   %% ,warn_obsolete_guard
                                  ,{parse_transform, lager_transform}
                                  ]}
                      ]}
           ,{test, [{erl_opts, [nowarn_missing_spec
                               ,warnings_as_errors
                               ,warn_unused_import
                               ,warn_unused_vars
                               ,{parse_transform, lager_transform}
                               ]}
                   ,{deps, [{coveralls, {git, "https://github.com/markusn/coveralls-erl.git", {tag, "1.4.0"}}}
                           ]}
                   ]}
           ]}.

{cover_enabled, false}.
{cover_opts, [verbose]}.

{deps, [{amqp_client, "3.6.7"}

       ,{certifi, "2.0.0"}

        %% Originally https://github.com/benoitc/couchbeam 1.4.1 Waiting on:
        %% https://github.com/benoitc/couchbeam/pull/158
        %% https://github.com/benoitc/couchbeam/pull/164
        %% https://github.com/benoitc/couchbeam/pull/165
       ,{couchbeam, {git, "https://github.com/2600hz/couchbeam.git", {tag, "1.4.1a"}}}

       ,{cowboy, "1.0.4"}

       ,{detergent, {git, "https://github.com/pap/detergent.git", {ref, "e86dfeded3e4f9f3f9278c6a1aea802079d38b54"}}}

        %% Need to update upstream
       ,{ecsv, {git, "https://github.com/lazedo/ecsv.git", {tag, "ecsv-1"}}}

       ,{eflame, {git, "https://github.com/slfritchie/eflame.git", {ref, "7b0bb1a7e8c8482a59421a3a50ae69d49af59d52"}}}

       ,{eiconv, {git, "https://github.com/zotonic/eiconv.git", {ref, "644fb5e7bd6640fbd073f4d28957914ea979aea0"}}}

        %% Waiting on https://github.com/dmitryme/erlang_localtime/pull/29
       ,{erlang_localtime, {git, "https://github.com/lazedo/erlang_localtime.git", {ref, "0bb26016380cd7df5d30aa0ef284ae252b5bae31"}}}

       ,{erlsom, {git, "https://github.com/willemdj/erlsom.git", {ref, "ba84a5767fe6852af2b691fc0e234702d336d65f"}}}

       ,{erlydtl, {git, "https://github.com/erlydtl/erlydtl.git", {ref, "032746b8068f367eb63923cb6f8b2095065015b9"}}}

       ,{escalus, {git, "https://github.com/esl/escalus.git", {ref, "0de0463c345a1ade6fccfb9aadad719b58a1cef5"}}}

       ,{exml, {git, "https://github.com/paulgray/exml.git", {tag, "2.2.1"}}}

       ,{folsom, "0.8.3"}

       ,{fs_event, {git, "https://github.com/jamhed/fs_event.git", {ref, "783400da08c2b55c295dbec81df0d926960c0346"}}}

       ,{fs_sync, {git, "https://github.com/jamhed/fs_sync.git", {ref, "2cf85cf5861221128f020c453604d509fd37cd53"}}}

       ,{gen_smtp, "0.12.0"}

       ,{getopt, {git, "https://github.com/jcomellas/getopt.git", {ref, "68fe326f2c7585eb32a5b136dffc75428a53fc02"}}}

       ,{gproc, {git, "https://github.com/uwiger/gproc.git", {ref, "01c8fbfdd5e4701e8e4b57b0c8279872f9574b0b"}}}

        %% Need to update upstream
       ,{hep, {git, "https://github.com/fenollp/hep.git", {tag, "v1.6.0"}}}

       ,{horse, {git, "https://github.com/ninenines/horse.git", {ref, "4dc81d47c3116b38af673481402f34ce03f8936b"}}}

       ,{inet_cidr, {git, "https://github.com/icehess/inet_cidr.git", {ref, "b9227c0a3d40ff70cd93c86e14964ff2c6b6d703"}}}

        %% dep_jesse = git https://github.com/for-GET/jesse 1.5.0-rc2
        %% Waiting on https://github.com/for-GET/jesse/pull/42
       ,{jesse, {git, "https://github.com/2600hz/jesse.git", {tag, "1.5-rc6"}}}

        %% Waiting on https://github.com/davisp/jiffy/pull/152
       ,{jiffy, {git, "https://github.com/fenollp/jiffy.git", {branch, "patch-1"}}}

       ,{lager, "3.5.1"}

       ,{lager_syslog, {git, "https://github.com/erlang-lager/lager_syslog.git", {ref, "126dd0284fcac9b01613189a82facf8d803411a2"}}}

       ,{nklib, {git, "https://github.com/fenollp/nklib.git", {branch, "patch-1"}}}

       ,{plists, "1.0.0"}

       ,{poolboy, {git, "https://github.com/devinus/poolboy.git", {ref, "d378f996182daa6251ad5438cee4d3f6eb7ea50f"}}}

        %% Actually test-only, but kazoo_proper requires it
       ,{proper, "1.2.0"}

       ,{recon, "2.3.2"}

        %% for scripts/dev-start-*.sh
       ,{reloader, {git, "https://github.com/oinksoft/reloader.git", {ref, "1c981b933db81fcbbd68f62f380ebc9725b6cb0f"}}}

       ,{syslog, {git, "https://github.com/vagabond/erlang-syslog.git", {tag, "1.0.5"}}}

       ,{trie, {git, "https://github.com/okeuday/trie.git", {tag, "v1.5.4"}}}

       ,{wsock, {git, "https://github.com/madtrick/wsock.git", {ref, "8ab26bff7736458b73db954e8ad25394478ea706"}}}

       ,{zucchini, {git, "https://github.com/devinus/zucchini.git", {ref, "429c9e0f9f67911c1825fbebff7d0fdc59e56b90"}}}

       ]}.

{project_app_dirs, ["applications/*"
                   ,"core/*"
                   ]}.
