{minimum_otp_vsn, "18.0"}.
{deps_error_on_conflict, false}.
{validate_app_modules, true}.
{compiler_source_format, relative}.

{erl_opts, [debug_info
           ,warnings_as_errors
           ,warn_export_all
            %% ,warn_export_vars
           ,warn_unused_import
           ,warn_unused_vars
           ,warn_missing_spec
            %% ,warn_obsolete_guard
           ,{parse_transform, lager_transform}
           ]}.

{profiles, [{test, [{erl_opts, [nowarn_missing_spec]}
                   ]}
           ]}.

{deps, [{lager, "3.2.1"}
       ,{amqp_client, "3.6.7"}
       ,{cowboy, "1.0.4"}
       ,{folsom, "0.8.3"}
       ,{recon, "2.3.2"}

       ,{proper, "1.2.0"} %% SHOULD be test-only, but kazoo_proper requires it

        %% dep_jesse = git https://github.com/for-GET/jesse 1.4.0
        %% Waiting on https://github.com/for-GET/jesse/pull/42
       ,{jesse, {git, "git://github.com/2600hz/jesse.git", {tag, "1.5-rc4"}}}

        %% Waiting on https://github.com/dmitryme/erlang_localtime/pull/29
       ,{erlang_localtime, {git, "git://github.com/lazedo/erlang_localtime.git", {ref, "0bb26016380cd7df5d30aa0ef284ae252b5bae31"}}}

        %% Waiting on https://github.com/davisp/jiffy/pull/152
       ,{jiffy, {git, "git://github.com/fenollp/jiffy.git", {branch, "patch-1"}}}

       ,{escalus, {git, "git://github.com/esl/escalus.git", {ref, "0de0463c345a1ade6fccfb9aadad719b58a1cef5"}}}
       ,{exml, {git, "git://github.com/paulgray/exml.git", {tag, "2.2.1"}}}
       ,{gen_smtp, {git, "git://github.com/Vagabond/gen_smtp.git", {ref, "3219b8f3b6393a7dddd3dbafb0295755abb59dfc"}}}

       ,{detergent, {git, "git://github.com/pap/detergent.git", {ref, "e86dfeded3e4f9f3f9278c6a1aea802079d38b54"}}}

       ,{nklib, {git, "git://github.com/fenollp/nklib.git", {branch, "patch-1"}}}

       ,{couchbeam, {git, "git://github.com/2600hz/couchbeam.git", {tag, "1.4.1a"}}}
       ]}.

{project_app_dirs, ["applications/*"
                   ,"core/*"
                   ]}.
