{lib_dirs,["applications","core","deps","deps/rabbitmq_erlang_client-3.6.0/deps"]}.
{include_src,false}.
{extended_start_script,true}.
{vm_args,"vm.args-whistle_apps"}.
{sys_config,"sys.config"}.
{release,{kazoo_whistle_apps,"4.0.0"},[whistle_apps,acdc,amqp_client,base16,bear,blackhole,braintree,call_inspector,callflow,camper,cccp,cdr,conference,couchbeam,cowboy,cowlib,crossbar,detergent,doodle,dth,ecsv,eiconv,ejson,erlang_localtime,erlsom,erlydtl,escalus,exml,fax,folsom,frontier,fusco,gen_leader,gen_smtp,goldrush,gproc,hamcrest,hangups,hep,hotornot,ibrowse,jesse,jonny5,kazoo_bindings,kazoo_caches,kazoo_documents,kazoo_etsmgr,kazoo_ips,kazoo_ledgers,kazoo_modb,kazoo_oauth,kazoo_sip,kazoo_token_buckets,kazoo_translator,kazoo_web,kazoo_xml,konami,lager,lager_syslog,meck,media_mgr,milliwatt,mustache,nksip,notify,oauth,omnipresence,pivot,poolboy,pusher,rabbit_common,ranch,recon,registrar,reorder,skel,slex,socketio,spyvsspy,stats,stepswitch,sysconf,syslog,teletype,trunkstore,webhooks,webseq,whistle,whistle_amqp,whistle_config,whistle_couch,whistle_media,whistle_number_manager,whistle_services,whistle_stats,whistle_transactions,wsecli,wsock,zucchini]}.
{release,{kazoo_ecallmgr,"4.0.0"},[ecallmgr,acdc,amqp_client,base16,bear,blackhole,braintree,call_inspector,callflow,camper,cccp,cdr,conference,couchbeam,cowboy,cowlib,crossbar,detergent,doodle,dth,ecsv,eiconv,ejson,erlang_localtime,erlsom,erlydtl,escalus,exml,fax,folsom,frontier,fusco,gen_leader,gen_smtp,goldrush,gproc,hamcrest,hangups,hep,hotornot,ibrowse,jesse,jonny5,kazoo_bindings,kazoo_caches,kazoo_documents,kazoo_etsmgr,kazoo_ips,kazoo_ledgers,kazoo_modb,kazoo_oauth,kazoo_sip,kazoo_token_buckets,kazoo_translator,kazoo_web,kazoo_xml,konami,lager,lager_syslog,meck,media_mgr,milliwatt,mustache,nksip,notify,oauth,omnipresence,pivot,poolboy,pusher,rabbit_common,ranch,recon,registrar,reorder,skel,slex,socketio,spyvsspy,stats,stepswitch,sysconf,syslog,teletype,trunkstore,webhooks,webseq,whistle,whistle_amqp,whistle_config,whistle_couch,whistle_media,whistle_number_manager,whistle_services,whistle_stats,whistle_transactions,wsecli,wsock,zucchini]}.
