{compact_automatically, true}.
{default_couch_host,{"localhost", 5984, "", "", 5986}}.
%% Uncomment the next line and change the values to reflect your env
%%               |     host/ip     |  port  |  username  |  pwd  |  admin port  |
%%------------------------------------------------------------------
%% {couch_host, {"###.###.###.###", #######, "XXXXXXXXX", "XXXX", #######}}.
{bigcouch_cookie, 'change_me'}.
