{lib_dirs, ["../../deps", "../../core"]}.
{escript_incl_apps, [getopt, kazoo, kazoo_stdlib, kazoo_config, zucchini, lager]}.
{erl_opts, [warn_export_all
           ,warn_missing_spec
           ,warnings_as_errors
           ,debug_info
           ,{parse_transform, lager_transform}
           ]}.
{xref_checks, [undefined_function_calls
              ,deprecated_function_calls
              ,locals_not_used
              ]}.
