{
  \"name\": \"${server_id}\",
  \"default_attributes\": {
  },
  \"json_class\": \"Chef::Role\",
  \"run_list\": [
  ],
  \"description\": \"deployment role\",
  \"chef_type\": \"role\",
  \"override_attributes\": {
    \"cluster\": \"${account_id}\",
    \"erlang_cookie\": \"${erlang_cookie}\",
    \"couchdb_username\": \"admin\",
    \"couchdb_password\": \"${db_pwd}\",
    \"couchdb_plaintext_password\": \"${db_pwd}\",
    \"couchdb_accountdb\": \"${account_db}\",
    \"app_environment\": \"${account_id}\",
    \"ts_environment\": \"${account_id}\",
    \"rabbitmq\": {
      \"version\": \"2.4.0-0\"
    }
  }
}
