{
    "id": "{{ account_id }}",
    "bigcouch": {
      "servers" :{
	    {% for srv in servers %}{% if "yup" in srv.roles %}"{{ srv.hostname }}": "{{ srv.ip }}",{% endif %}{% endfor %}
      }
    },
    "freeswitch": {
      "servers": {
	    {% for srv in servers %}{% if "nope" in srv.roles %}"{{ srv.hostname }}": "{{ srv.ip }}",{% endif %}{% endfor %}
      }
    }
}

