LOG=/tmp/{{ server._id }}-$(date +%s).log && echo "# knife data bag from file accounts {{ databag_path }}" > $LOG && knife data bag from file accounts {{ databag_path }} >> $LOG && sleep 10 && echo "# knife role from file {{ role_path }}" >> $LOG && knife role from file {{ role_path }} >> $LOG && sleep 10 && echo "# knife bootstrap {{ server.ip }} -x root -P {{ server.password }} -N {{ server.hostname }} -d {{ server.os }} -r role[{{ account._id }}],role[winkstart_deploy_haproxy],{% for role in server.roles %}role[{{ role }}],{% endfor %}recipe[whistle::ecallmgr_start],recipe[whistle::whapps_start],recipe[chef-client::first_start]" >> $LOG && knife bootstrap {{ server.ip }} -x root -P {{ server.password }} -N {{ server.hostname }} -d {{ server.os }} -r role[{{ account._id }}],role[winkstart_deploy_haproxy],{% for role in server.roles %}role[{{ role }}],{% endfor %}recipe[whistle::ecallmgr_start],recipe[whistle::whapps_start],recipe[chef-client::first_start] >> $LOG
