{
  "name": "{{ account._id }}",
  "default_attributes": {
    "couchdb_port": "5984",
    "couchdb_username": "{{ rand_small_1 }}",
    "couchdb_plaintext_password": "{{ rand_small_2 }}",
    "whistle_git_url": "git://github.com/2600hz/whistle.git",
    "whistle_branch": "master",
    "whistle_fs_git_url": "git://github.com/2600hz/whistle-fs.git",
    "whistle_fs_branch": "master",
    "cluster": "{{ account._id }}",
    "app_environment": "{{ account._id }}",
    "erlang_cookie": "{{ rand_large_2 }}",
    "segment": "1",
    "couchdb_node": "127.0.0.1"
  },
  "json_class": "Chef::Role",
  "env_run_lists": {
  },
  "run_list": [
  ],
  "description": "bigcouch role",
  "chef_type": "role",
  "override_attributes": {
    "client_id": "{{ account._id }}",
    "haproxy": {
      "proxy_port": "15984",
      "admin_proxy_port": "15986",
      "app_server_role": "bigcouch",
      "admin_port": "5986",
      "member_port": "5984"
    },
    "chef_client": {
      "interval": "300",
      "splay": "60"
    }
  }
}
