%%-*- mode: erlang -*-

{edoc_opts, [
    {application, ["couchbeam"]}
    ]}.

{deps, [
    %% mochiweb for JSON and header parsing
    {mochiweb, ".*", {git,"http://github.com/mochi/mochiweb.git","master"}},

    %% erlang-oauth for oauth authentification
    {oauth, ".*", {git,"http://github.com/benoitc/erlang-oauth.git","master"}},
    
    %% ibrowse for doing HTTP requests
    {ibrowse, ".*", {git, "http://github.com/cmullaparthi/ibrowse.git","master"}}
]}.
