version: 2

workflows:
  version: 2
  build_branch:
    jobs:
      - setup
      - build_deps:
          requires:
            - setup
      - build:
          requires:
            - build_deps
      - eunit_tests:
          requires:
            - build_deps
      - checks:
          requires:
            - build
      - docs:
          requires:
            - build
      - analyze:
          requires:
            - build
      - release:
          requires:
            - build

defaults: &defaults
  docker:
    - image: offical2600hz/circleci:21.3.8.8
  working_directory: ~/2600hz/kazoo
  shell: /bin/bash --login
  environment:
    BASH_ENV: ".git/.bashrc"

jobs:
  setup:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Listing Changes
          command: make changed
      - persist_to_workspace:
          root: .
          paths:
            - .
  build_deps:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - deps-v1-{{ checksum "make/deps.mk" }}-{{ checksum "/usr/local/lib/erlang/releases/RELEASES" }}
      - run:
          name: Calculating dependency hash for CircleCI cache
          command: |
            deps_hash=$(md5sum make/deps.mk | cut -d" " -f1)
            if [ x"$(cat .git/.kz_deps_hash)" = x"$deps_hash" ]; then
              touch "make/.deps.mk.$deps_hash"
            fi
            (echo -n $(md5sum $KAZOO_ROOT/make/deps.mk | cut -d" " -f1) | tee "$KAZOO_ROOT/.git/.kz_deps_hash") && echo
            md5sum make/deps.mk
            ls -al make
      - run:
          name: Making dependencies
          command : make deps
      - save_cache:
          key: deps-v1-{{ checksum "make/deps.mk" }}-{{ checksum "/usr/local/lib/erlang/releases/RELEASES" }}
          paths:
            - deps/
            - .git/.kz_deps_hash
      - persist_to_workspace:
          root: .
          paths:
            - .
  build:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - deps-v1-{{ checksum "make/deps.mk" }}-{{ checksum "/usr/local/lib/erlang/releases/RELEASES" }}
      - run:
          name: Compiling the project
          command: JOBS="2" make
      - persist_to_workspace:
          root: .
          paths:
            - .
  eunit_tests:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - deps-v1-{{ checksum "make/deps.mk" }}-{{ checksum "/usr/local/lib/erlang/releases/RELEASES" }}
      - run:
          name: Compiling for unit test enviornment
          command: ERLC_OPTS='-DPROPER' make compile-test
      - run:
          name: Running Eunit/Proper tests
          command: make eunit
      ## disabling this for now until we figure out why it is crashing, and how to set token
      # - run:
      #     name: Uploading Coverage Report
      #     command: make coverage-report
  checks:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Running code formatter
          command: make fmt
      - run:
          name: Running code checks
          command: make code_checks
      - run:
          name: Checking app source file
          command: make app_applications
      - run:
          name: Generating sup bash completion files
          command: make sup_completion
      - run:
          name: Running xref check
          command: make xref
      - run:
          name: Running Elvis code style check
          command: make elvis
      - run:
          name: Checking for unstaged files
          command: scripts/check-unstaged.bash
  docs:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Generating APIs
          command: make apis
      - run:
          name: Validating CouchDB view files
          command: make validate-js
      - run:
          name: Validating schemas
          command: make validate-schemas
      - run:
          name: Generating docs
          command: make docs || true
      - run:
          name: Checking doc states
          command: scripts/state-of-docs.sh || true
      - run:
          name: Validating EDoc states
          command: scripts/state-of-edoc.escript
      - run:
          name: Checking for unstaged files
          command: scripts/check-unstaged.bash
  analyze:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - plt-v1-{{ checksum "~/2600hz/kazoo/make/deps.mk" }}-{{ checksum "/usr/local/lib/erlang/releases/RELEASES" }}
      - run:
          name: Building plt file
          command: make build-plt
      - run:
          name: Dailyzing changed Erlang files
          command: make dialyze-changed
      - save_cache:
          key: plt-v1-{{ checksum "make/deps.mk" }}-{{ checksum "/usr/local/lib/erlang/releases/RELEASES" }}
          paths:
            - .kazoo.plt
  release:
    <<: *defaults
    docker:
      - image: offical2600hz/circleci:21.3.8.8
      - image: couchdb:2.3.1
      - image: 2600hz/rabbitmq
    environment:
      CIRCLE_ARTIFACTS: /tmp/circleci-artifacts
      TZ: "/usr/share/zoneinfo/UTC"
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Creating artifacts directory
          command: mkdir -p $CIRCLE_ARTIFACTS
      - run:
          name: Building CI release
          command: make build-ci-release
      - run:
          name: Running Kazoo release
          command: KAZOO_CONFIG=${PWD}/rel/ci.config.ini REL="kazoo_apps" ACT="console" NODE_NAME_TYPE="-sname" make release
      - run:
          name: Copying Relx config artifacts
          command: cp ${PWD}/rel/ci.relx.config $CIRCLE_ARTIFACTS/
      - run:
          name: Copying release Artifacts
          command: find ${PWD}/_rel/kazoo/releases -name kazoo.rel -exec cp {} $CIRCLE_ARTIFACTS/ \;
      - store_artifacts:
          path: /tmp/circleci-artifacts
      - run:
          name: Checking for errors in artifacts
          command: |
            if [[ $(grep -c -v -F 'exit with reason shutdown' ${CIRCLE_ARTIFACTS}/log/error.log) -gt 0 ]]; then
              printf ":: some errors are detected during running release\n\n"
              cat ${CIRCLE_ARTIFACTS}/log/error.log
              exit 1
            else
              printf ":: no errors are found in release\n\n"
            fi
