{erl_opts, [debug_info,warn_missing_spec]}.

{deps,[
       {meck,"0.*", {git, "git://github.com/eproxus/meck", {branch, "master"}}}
      ]}.

{clean_files, ["*~","**/*~","**/*.beam","logs/*"]}.

{cover_enabled, true}.

{eunit_opts, [verbose,
              {report, {eunit_surefire, [{dir, "."}]}}]}.
