{remote_audio_script, "/usr/local/bin/fetch_remote_audio.sh"}.
{default_ringback, "%(2000,4000,440,480)"}.
{authz_enabled,true}. %% boolean() - Send authorization request along with route request
{authz_default,deny}. %% allow | deny - if authz_enabled is true and no authz_resp is received, this defines the default action
