{default_text_template, <<"Your voicemail box '{{voicemail.name}}' is full.">>}.
{default_html_template, <<"<html><body><h3>Your voicemail box '{{voicemail.name}}' is full.</h3></body></html>">>}.
{default_subject_template, <<"Voicemail box full">>}.
%% {default_from, <<>>}.
{default_support_number, <<"(415) 886-7950">>}.
{default_support_email, <<"support@2600hz.org">>}.
