{default_text_template, <<"New Voicemail Message\n\nCaller ID: {{voicemail.caller_id_number}}\nCaller Name: {{voicemail.caller_id_name}}\n\nCalled To: {{voicemail.to_user}}   (Originally dialed number)\nCalled On: {{voicemail.date_called|date:\"l, F j, Y \a\t H:i\"}}\n\nTranscription: {{voicemail.transcription|default:\"Not Enabled\"}}\n\n\nFor help or questions using your phone or voicemail, please contact support at {{service.support_number}} or email {{service.support_email}}.">>}.
{default_html_template, <<"<html><body><h3>New Voicemail Message</h3><table><tr><td>Caller ID</td><td>{{voicemail.caller_id_name}} ({{voicemail.caller_id_number}})</td></tr><tr><td>Callee ID</td><td>{{voicemail.to_user}} (originally dialed number)</td></tr><tr><td>Call received</td><td>{{voicemail.date_called|date:\"l, F j, Y \a\t H:i\"}}</td></tr></table><p>For help or questions using your phone or voicemail, please contact {{service.support_number}} or email <a href=\"mailto:{{service.support_email}}\">Support</a></p><p style=\"font-size: 9px;color:#C0C0C0\">{{voicemail.call_id}}</p><p>Transcription: {{voicemail.transcription|default:\"Not Enabled\"}}</p></body></html>">>}.
{default_subject_template, <<"New voicemail from {{voicemail.caller_id_name}} ({{voicemail.caller_id_number}})">>}.
%% {default_from, <<>>}.
{default_support_number, <<"(415) 886-7950">>}.
{default_support_email, <<"support@2600hz.org">>}.
