{default_text_template, <<"Hi, {{user.first_name}} {{user.last_name}}!\n\nWe received a request to change the password for your VoIP Services account \"{{account.name}}\".\nIf you did not make this request, just ignore this email. Otherwise, please click the link below to change your password:\n\n{{link}}">>}.
{default_html_template, <<"<html></head><body><h3>Hi, {{user.first_name}} {{user.last_name}}!</h3><p>We received a request to change the password of your VoIP Services account \"{{account.name}}\".</p><p>If you did not make this request, just ignore this email. Otherwise, please click the link below to change your password:</p><p><a href=\"{{link}}\">{{link}}</a></p></body></html>">>}.
{default_subject_template, <<"Reset your {{service.provider}} account password.">>}.
%% {default_from, <<>>}.
{default_service_url, <<"http://apps.2600hz.com">>}.
{default_name, <<"VOIP Services">>}.
{default_provider, <<"VOIP Services">>}.
{default_link, [<<"le_missing_url">>}.
