{default_text_template, <<"Port request cancelled for {{account.name}}\n\nAccount ID: {{account.id}}\nAccount Name: {{account.name}}\nAccount Realm: {{account.realm}}\n\nPort Request ID: {{request.port_id}}\n\nNumbers: {% for number, _number_data in numbers %}\n{{number}}{% endfor %}\n">>}.
{default_html_template, <<"<html><head><meta charset=\"utf-8\" /></head><body><h3>Port request cancelled for {{account.name}}</h3><h2>Account Details</h2><table cellpadding=\"4\" cellspacing=\"0\" border=\"0\"><tr><td>Account ID</td><td>{{account.id}}</td></tr><tr><td>Account Number</td><td>{{account.name}}</td></tr></table><h2>Request</h2><table cellpadding=\"4\" cellspacing=\"0\" border=\"0\"><tr><td>Port Request ID</td><td>{{request.port_id}}</td></tr><tr><td>Main Number</td><td>{{request.number}}</td></tr></table></body></html>">>}.
{default_subject_template, <<"Port cancelled for {{account.name}}">>}.
