{default_text_template, <<"Hello, {{user.first_name}} {{user.last_name}}.\n\nThis email is to inform you that the password for your {{service.provider}} {{service.name}} account \"{{account.name}}\" has been set to \"{{user.password}}\".\n\nTo login please vist {{service.url}} and use your normal username with the password \"{{user.password}}\".\n\nOnce you login you will be prompted to customize your password.">>}.
{default_html_template, <<"<html></head><body><h3>Hello {{user.first_name}} {{user.last_name}}</h3><p>This email is to inform you that the password for your {{service.provider}} {{service.name}} account \"{{account.name}}\" has been set to \"{{user.password}}\".</p><p>To login please vist <a href=\"{{service.url}}\">{{service.url}}</a> and use your normal username with the password \"{{user.password}}\".</p><p>Once you login you will be prompted to customize your password.</p></body></html>">>}.
{default_subject_template, <<"Password reset for your {{service.provider}} {{service.name}} account.">>}.
%% {default_from, <<>>}.
{default_service_url, <<"http://apps.2600hz.com">>}.
{default_name, <<"VOIP Services">>}.
{default_provider, <<"2600hz">>}.
