{default_text_template, <<"Expired registration in account \"{{account.name}}\".\nNotifications are enabled for loss of registration on the device {{last_registration.username}}@{{last_registration.realm}}\n\nLast Registration:\nDevice ID: {{last_registration.authorizing_id}}\nAccount ID: {{last_registration.account_id}}\nUser Agent: {{last_registration.user_agent}}\nContact: {{last_registration.contact}}\n\nThis may be due to a network connectivity issue, power outage, or misconfiguration. Please check the device.">>}. 
{default_html_template, <<"<html><body><h2>Expired registration in account \"{{account.name}}\"</h2><p>Notifications are enabled for loss of registration on the device {{last_registration.username}}@{{last_registration.realm}}</p><h3>Last Registration</h3><table><tr><td>Device ID</td><td>{{last_registration.authorizing_id}}</td></tr><tr><td>Account ID</td><td>{{last_registration.account_id}}</td></tr><tr><td>User Agent</td><td>{{last_registration.user_agent}}</td></tr><tr><td>Contact</td><td>{{last_registration.contact}}</td></tr></table><p>This may be due to a network connectivity issue, power outage, or misconfiguration. Please check the device.</p></body></html>">>}.
{default_subject_template, <<"Loss of Registration for {{last_registration.username}}@{{last_registration.realm}}">>}.
%% {default_from, <<>>}.
