%%-*- mode: erlang -*-
{erl_opts, [debug_info, {parse_transform, switchblade_transform}]}. % uncomment to get debug messages, remove debug_info and bin_opt_info for production

{edoc_opts, [
    {application, ["couchbeam"]}
    ]}.

{lib_dirs, ["../../../lib", "../"]}.

%% {deps, [
%%     {mochiweb, ".*", {git,"http://github.com/mochi/mochiweb.git", 
%%                         "HEAD"}},
    
%%     %% ejson for JSON and header parsing
%%     {ejson, ".*", {git,"http://github.com/benoitc/ejson.git",
%%                   "master"}},

%%     %% erlang-oauth for oauth authentification
%%     {oauth, ".*", {git,"http://github.com/refuge/erlang-oauth.git",
%%                    "master"}},
    
%%     %% ibrowse for doing HTTP requests
%%     {ibrowse, ".*", {git, "http://github.com/cmullaparthi/ibrowse.git",
%%                      {branch, "master"}}}
%% ]}.
