{erl_opts, [debug_info, bin_opt_info, {parse_transform, switchblade_transform}]}. % uncomment to get debug messages, remove debug_info and bin_opt_info for production
{lib_dirs, ["."]}.
{sub_dirs, ["whistle-1.0.0", "whistle_amqp-1.0.0", "whistle_couch-1.0.0", "whistle_stats-1.0.0"
            ,"whistle_number_manager-1.0.0", "erlydtl-0.7.0", "kazoo_translator-1.0.0"
            ,"whistle_services-1.0.0"
           ]}.
{dialyzer_opts, [{warnings, [unmatched_returns, race_conditions, error_handling, underspecs]}]}.
