{erl_opts, [debug_info, bin_opt_info, {parse_transform, switchblade_transform}]}. % uncomment to get debug messages, remove debug_info and bin_opt_info for production
{lib_dirs, ["."]}.
{sub_dirs, [
            %% 3rd party libs
            "lager-1.0.0"
            ,"syslog-0.0.1"
            ,"lager_syslog-0.9.0"

            ,"braintree-1.0.0"

            ,"ibrowse-4.0.0"
            ,"couchbeam-0.8.0"

            ,"cowboy-0.5.1"
            ,"detergent-0.2"
            ,"ecsv-1"
            ,"ejson-0.1.0"
            ,"erlang-localtime-1.0"

            ,"erlsom-1.3"
            ,"erlydtl-0.7.0"
            ,"folsom-0.6-63"
            ,"gen_smtp-0.1"
            ,"gen_leader-1.0"
            ,"gproc-0.2.12"

            ,"mochiweb-2.3.1"
            ,"oauth-1.2.2"
            ,"poolboy-0.6.1"

            ,"proper-1.0"
            ,"pqueue-0.1.9"

            ,"rabbitmq_server-2.8.1"
            ,"rabbit_common-2.8.1"
            ,"amqp_client-2.8.1"
            ,"riak_core-1.1.0"
            ,"riak_err-1.0.1"

            %% 2600Hz libs
            ,"whistle-1.0.0"
            ,"whistle_amqp-1.0.0"
            ,"whistle_couch-1.0.0"
            ,"whistle_stats-1.0.0"
            ,"whistle_number_manager-1.0.0"
            ,"kazoo_translator-1.0.0"
            ,"whistle_services-1.0.0"

           ]}.
{dialyzer_opts, [{warnings, [unmatched_returns, race_conditions, error_handling, underspecs]}]}.
