{erl_opts, [debug_info, bin_opt_info]}. % uncomment to get debug messages, remove debug_info and bin_opt_info for production
{lib_dirs, ["."]}.
{sub_dirs, [
            %% 3rd party libs not built via Makefiles
            "erlang-syslog-0.0.1"
            ,"folsom-0.6-63"
           ]}.
{dialyzer_opts, [{warnings, [unmatched_returns, race_conditions, error_handling, underspecs]}]}.
