{variables, [{appid, "basicapp"}]}.
{template, "basicapp.app.src", "src/{{appid}}.app.src"}.
{template, "basicapp_app.erl", "src/{{appid}}_app.erl"}.
{template, "basicapp_sup.erl", "src/{{appid}}_sup.erl"}.
{template, "basicapp.erl", "src/{{appid}}.erl"}.
{template, "rebar.config", "rebar.config"}.
