[
{lager, [
  {handlers, [
    %%{lager_console_backend, [info, {lager_default_formatter, [time," [",severity,"] ", pid, " ", message, "\n"]}]},
    {lager_console_backend, [debug, true]},
    {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
    {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
  ]},
  {colored, true}
]}
].
