{default_text_template, <<"Low balance in prepay for account \"{{account.name}}\".\nThe account will not be able to make or receive per-minute calls until this balance is increased.\nThe current balance is: {{current_balance}}\n\nAccount ID: {{account.id}}">>}. 
{default_html_template, <<"<html><body><h2>Low Balance in \"{{account.name}}\"</h2><p>Current Balance: {{current_balance}}</p><p>The account will not be able to make or receive per-minute calls until this balance is increased.</body></html>">>}.
{default_subject_template, <<"Low Balance ({{current_balance}}) for {{account.name}}">>}.

