%%% Copyright 2010-2011 Manolis Papadakis <manopapad@gmail.com>,
%%%                     Eirini Arvaniti <eirinibob@gmail.com>
%%%                 and Kostis Sagonas <kostis@cs.ntua.gr>
%%%
%%% This file is part of PropEr.
%%%
%%% PropEr is free software: you can redistribute it and/or modify
%%% it under the terms of the GNU General Public License as published by
%%% the Free Software Foundation, either version 3 of the License, or
%%% (at your option) any later version.
%%%
%%% PropEr is distributed in the hope that it will be useful,
%%% but WITHOUT ANY WARRANTY; without even the implied warranty of
%%% MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
%%% GNU General Public License for more details.
%%%
%%% You should have received a copy of the GNU General Public License
%%% along with PropEr.  If not, see <http://www.gnu.org/licenses/>.

%%% Author:      Manolis Papadakis
%%% Description: Options for rebar

%% WARNING: Our version of rebar doesn't automatically report warnings,
%% nor does it add erl_opts to eunit_compile_opts.

{erl_first_files, ["src/strip_types.erl", "src/vararg.erl"]}.
{eunit_first_files, ["src/strip_types.erl", "src/vararg.erl",
		     "src/proper_transformer.erl",
		     "src/proper_prop_remover.erl",
		     "src/proper_typeserver.erl"]}.
{erl_opts, [debug_info,
	    report_warnings, {warn_format,1}, warn_export_vars,
	    warn_obsolete_guard, warn_unused_import,
	    warn_missing_spec, warn_untyped_record]}.
{dialyzer_opts, [{warnings,[unmatched_returns]}]}.

{pre_hooks, [{compile,"make include/compile_flags.hrl"}]}.
{post_hooks, [{clean,"./clean_doc.sh"}]}.
