%% WARNING: Our version of rebar doesn't automatically report warnings,
%% nor does it add erl_opts to eunit_compile_opts.

%% WARNING: To compile on versions of Erlang/OTP older than R13B4, add
%% {d,'NO_TYPES'} to erl_opts.

{erl_first_files, ["src/strip_types.erl", "src/vararg.erl"]}.
{erl_opts, [debug_info,
	    report_warnings, {warn_format,1}, warn_export_vars,
	    warn_obsolete_guard, warn_unused_import,
	    warn_missing_spec, warn_untyped_record]}.
{edoc_opts, [{dialyzer_specs,all}, {report_missing_type,true},
	     {report_type_mismatch,true}, {pretty_print,erl_pp},
	     {preprocess,true}]}.
{dialyzer_opts, [{warnings,[unmatched_returns]}]}.
{clean_post_script, "./clean_doc.sh"}.
