{erl_opts, [{d, debug}, {d, test, true}, debug_info, bin_opt_info, {parse_transform, switchblade_transform}]}. % uncomment to get debug messages, remove debug_info and bin_opt_info for production
{dialyzer_opts, [{warnings, [unmatched_returns, race_conditions, error_handling, underspecs]}]}.
{lib_dirs, ["../../../lib", "../"]}.
{sub_dirs, []}.
{cover_enabled, true}.
