[
 {log_roller_server, [
		      {address, "127.0.1.1"}
		      ,{logs, [
			       {calls, [
					{cache_size, 10485760}
					,{maxbytes, 10485760}
					,{maxfiles, 10}
					,{filters, [
						    {grep, ["[[:alnum:]]{8}-[[:alnum:]]{4}-[[:alnum:]]{4}-[[:alnum:]]{4}-[[:alnum:]]{12}"]}
						   ]
					 }
				       ]}
			       ,{all, [
				       {cache_size, 10485760}
				       ,{maxbytes, 10485760}
				       ,{maxfiles, 10}
				       ,{filters, []}
				      ]}
			      ]}
		     ]
 }
].
