.container-fluid {
    padding: 0;
}

.sidebar {
    color: #909099;
}

.sidebar-nav {
    padding: 15px;
    font-family: 'Lato';
}

.sidebar-brand {
    padding: 25px;
    text-align: center;
}

.sidebar-brand img {
    padding-bottom: 10px;
    display: block;
    margin: auto;
}

.nav {
    color: #909099;
    padding: 0;
}

.nav .nav-item {
    display: block;
    font-weight: 700;
}

.nav .nav-item .nav-head {
    font-size: 1.14rem;
}

.nav .nav-item a {
    color: #909099;
}

.nav>.nav-item>a {
    color: #67676f;
}

.nav .nav-item a:hover {
    color: #007bff;
    text-decoration: none;
}

.nav .nav-item ul {
    padding: 0;
}

.nav .nav-item li {
    display: block;
}

.nav-kz-apps {
    padding: 15px 0;
}

.nav-apps {
    margin-top: .5rem;
}

.nav .nav-kz-apps .nav-head {
    color: #212529;
}

.nav-app-head {
    color: #67676f;
    font-size: 1.10rem;
}

.entry-app .fa-folder, .entry-app .fa-folder-open {
    padding-right: .6rem;
    color: #4b9fe8;
    cursor: pointer;
}

.entry-app .fa-folder:hover,
.entry-app .fa-folder-open:hover {
    color: #66adeb;
}

.nav .nav-item ul.nav-mods {
    display: none;
    padding-left: 1.7rem;
}

.entry-app.active ul.nav-mods {
    display: block;
}

.sidebar-dark {
    color: #adb5bd;
    background-color: #343a40;
}

.sidebar-dark .nav {
    color: #adb5bd;
}

.sidebar-dark .nav .nav-item a {
    color: #adb5bd;
}

.sidebar-dark .nav>.nav-item>a {
    color: #adb5bd;
}

.sidebar-dark .nav .nav-item a:hover {
    color: #dde0e4;
}

.sidebar-dark .nav .nav-kz-apps .nav-head {
    color: #f7f7f9;
}

.sidebar-dark .nav-app-head {
    color: #f7f7f9;
}

.bg-middle {
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    /*background-color: #f8f9fa;*/
    background-color: #f9fafb;
}

.content {
    padding: 15px;
}

/*.bg-middle.with-toc {
    flex-basis: 75%;
    min-width: 75%;
}*/

.page-toc {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: .875rem;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

.section-nav {
    padding-left: 0;
}

.toc-entry {
    display: block;
}

.toc-entry a {
    display: block;
    padding: .125rem 1.5rem;
    color: #99979c;
}

.toc-entry a:hover {
    color: #007bff;
    text-decoration: none;
}

.toc-entry ul {
    padding-left: 3rem;
    list-style-type: none;
}

.toc-entry li {
    padding-left: 0;
}

.toc-entry li a {
    padding: .125rem 0;
}

.bg-middle section {
    margin-bottom: 3rem;
    /*padding: 15px;*/
/*    padding: 15px;
    background: white;
    border: 1px solid #eee;
    border-radius: .25rem;
    box-shadow: 0px 0px 1px rgba(0,0,0,.1);*/
}

.bg-middle section h2 {
    margin-bottom: 2rem;
    padding-bottom: .5rem;
    /*border-bottom: 1px solid #e6e6e6;*/
}

.module h1 small {
    font-size: 40%;
}

.module .descriptions p:first-child {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    max-width: 80%;
}

.type {
    /*margin: 0 0 1.5rem;
    padding: 0 15px;*/

    padding: 1.25rem;
    margin: 0 0 1.25rem;
    background-color: #fff;
    /*border: 1px solid #eee;
    border-left-width: .25rem;*/
    border-radius: .25rem;
    border-left: .25rem solid #28a745;
    box-shadow: 0 1px 4px 0 rgba(46,46,50,.24);
    /*box-shadow: 0px 1px 1px rgba(0,0,0,.1);*/
}


.function {
    padding: 1.25rem;
    margin: 0 0 1.25rem;
    background-color: #fff;
    border-left: .25rem solid #007bff;
    box-shadow: 0 1px 4px 0 rgba(46,46,50,.24);
}

.type-spec {
    margin-top: 2rem;
    padding: 5px;
    background-color: #f7f7f9;
    border: 1px solid #ddd;
    border-radius: 3px;
    /*border: 1px solid #f5f5f9;*/
    /*box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);*/
}

.type-spec pre {
    margin: 0;
}

.localdefs {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.text-muted {
    color: #6c757d;
}

.alert {
    padding: 1.25rem;
    margin: 1.25rem 5rem;
    background-color: #fff;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    box-shadow: 0px 1px 1px rgba(0,0,0,.1)
}

.alert :last-child {
    margin-bottom: 0;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-warning {
    /*color: #856404;*/
    /*background-color: #fff3cd;*/
    border-left-color: #f0ad4e;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge-warning {
    color: #212529;
    background-color: #ffc107;
}

.badge-info {
    color: #fff;
    background-color: #17a2b8;
}

.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}

.badge-dark {
    color: #fff;
    background-color: #343a40;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
