[ {lager, [ {handlers, [ {lager_console_backend, [ debug
                                                 , {lager_kazoo_formatter, [ date, " ", time
                                                                           , color
                                                                           , " [", severity ,"] ", "|"
                                                                           , {callid, <<"0000000000">>}, "|"
                                                                           , module, ":", line
                                                                           , " (", pid , ") "
                                                                           , message
                                                                           , "\e[0m"
                                                                           , "\r\n"
                                                                           ]}
                                                 ]}

                       ]
            }
            ,{extra_sinks, [{data_lager_event,[{handlers, [{lager_file_backend,[{file, "/dev/null"} ,{level, debug}]}]}]}]}
          , {colored, true}
          , {error_logger_hwm, 500}
          ]}
].
