[
{lager, [
    {handlers, [
        {lager_console_backend, [debug,
            {lager_default_formatter,
                [time, color, " [", severity, "] |", {callid,<<"0000000000">>}, "|", module,":",line, " (",pid,") ", "\e[0m", message, "\n"]}]}
    ]}
    ,{colored, true}
    ,{error_logger_hwm, 5000}
]}
].
