{lib_dirs, ["applications"
           ,"core"
           ,"deps"
           ]}.

{include_src, false}.
{include_erts, true}.
{dev_mode, true}.

{generate_start_script, false}.
{extended_start_script, false}.

{sys_config, "rel/dev.sys.config"}.
{vm_args, "rel/dev.vm.args"}.

{overlay, [{copy, "../core/sup/priv/sup", "{{output_dir}}/bin/"}
          ,{copy, "nodetool", "{{output_dir}}/bin/"}
          ,{template, "kazoo", "{{output_dir}}/bin/kazoo"}
          ]}.
