[
 {sync, [{exclude_masks, ["/deps/", "/_rel/"]}]},
 {lager, [
          {handlers, [
                      {lager_console_backend, [{level, info}
                                              ,{formatter, lager_default_formatter}
                                              ,{formatter_config, [time, " ", color, "[",severity,"] ", "|", {callid, <<"0000000000">>}, "|", module, ":", line, "(",pid, ") ", {log_prefix, ["[", log_prefix, "] "], ""}, "\e[0m", message, "\n"]}
                                              ]}
                     ]}
         ,{extra_sinks, [{data_lager_event,[]}
                        ]
          }
         ,{colored, true}
         ,{error_logger_hwm, 5000}
         ]}
].

