[
 {lager, [
          {handlers, [
                      {lager_console_backend, [{level, info}
                                              ,{formatter, lager_default_formatter}
                                              ,{formatter_config, [time, " ", color, severity, " ", {module,[module],""}, {line,[".",line," "],""}, "\e[0m", message, "\n"]}]}
                     ,{lager_file_backend, [{file, "log/error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 5}
                                           ,{formatter, lager_default_formatter}
                                           ,{formatter_config, [time," [",severity,"] ", "|", {callid, <<"0000000000">>}, "|", module, ":", line, "(",pid, ") ", {log_prefix, ["[", log_prefix, "] "], ""}, message, "\n"]}
                                           ]}
                     ,{lager_file_backend, [{file, "log/console.log"}, {level, info}, {size, 10485760}, {date, "$D0"}, {count, 5}
                                           ,{formatter, lager_default_formatter}
                                           ,{formatter_config, [time," [",severity,"] ", "|", {callid, <<"0000000000">>}, "|", module, ":", line, "(",pid, ") ", {log_prefix, ["[", log_prefix, "] "], ""}, message, "\n"]}
                                           ]}
                     ,{lager_syslog_backend, ["2600hz", local0, debug
                                             ,{lager_default_formatter, ["|", {callid, <<"0000000000">>}, "|", module, ":", line, "(",pid, ") ", {log_prefix, ["[", log_prefix, "] "], ""}, message, "\n"]}
                                             ]}
                     ]}
         ,{extra_sinks, [{data_lager_event,[]}
                        ]
          }
         ,{colored, true}
         ,{error_logger_hwm, 5000}
         ]}
,{aten, [{detection_threshold, 1.5}
        ,{poll_interval, 2000}
        ,{heartbeat_interval, 5000}
        ]}
,{ra, [{data_dir, "/etc/kazoo/ra"}]}
].
