[
 {lager, [
          {handlers, [
                      {lager_console_backend, info}
                      ,{lager_file_backend, [
                                             {file, "log/error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 5}
                                            ]}
                      ,{lager_file_backend, [
                                             {file, "log/console.log"}, {level, info}, {size, 10485760}, {date, "$D0"}, {count, 5}
                                            ]}
                      ,{lager_syslog_backend, ["2600hz", local0, debug, {lager_kazoo_formatter,["|", {function, <<"0000000000">>}, "|", module, ":", line, " (",pid, ") ", message, "\n"]}]}
                     ]},
          {colored, false}
         ,{error_logger_hwm, 500}
         ]}
].
