{lib_dirs, ["lib", "../../deps", "../../core"]}.
{erl_opts, [
            warn_export_all
           ,warn_missing_spec
           ,warnings_as_errors
           ,debug_info
           ,{parse_transform, lager_transform}
           ]}.
{xref_checks, [
               undefined_function_calls,
               deprecated_function_calls,
               locals_not_used
              ]}.
{deps_dir, "lib"}.
{deps, [
        apns,
        gcm
       ]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
