{autoload_modules, [cb_signup, cb_user_auth, cb_api_auth, cb_token_auth, cb_shared_auth
                    ,cb_simple_authz, cb_accounts, cb_users, cb_media, cb_callflows
                    ,cb_devices, cb_conferences, cb_vmboxes, cb_limits, cb_menus
                    ,cb_clicktocall, cb_registrations, cb_connectivity, cb_temporal_rules
                    ,cb_directories, cb_cdrs, cb_local_resources, cb_global_resources
                    ,cb_schema, cb_webhooks, cb_phone_numbers, cb_templates
                    ,cb_groups, cb_contact_list, cb_bulk]}.
{ip, <<"0.0.0.0">>}.
{port, <<"8000">>}.
{name, <<"crossbar">>}.
%%{log_dir, <<"/var/log/crossbar">>}.
{ssl, false}.
