Hello {first_name} {last_name}!

Welcome to the 2600hz project!  We are excited to that you could join us in our efforts to revolutionize telephony.

To get started just complete your registration by visting this link:

{registration_link}

Thank you!
