{erl_opts, [{d, debug}, {d, test, true}, debug_info, bin_opt_info]}. % uncomment to get debug messages, remove debug_info and bin_opt_info for production
{lib_dirs, ["../lib", "apps/"]}.
{sub_dirs, ["apps/cdr", "apps/hangups", "apps/trunkstore", "apps/dth", "apps/stepswitch"
            ,"apps/registrar", "apps/crossbar", "apps/callflow", "apps/media_mgr", "apps/notify"
            ,"apps/conference", "apps/jonny5", "apps/hotornot", "apps/datinggame", "apps/webhooks"
	    ,"apps/sysconf"
           ]}.
{dialyzer_opts, [{warnings, [unmatched_returns, race_conditions, error_handling, underspecs]}]}.
{cover_enabled, true}.
