{erl_opts, [{d, debug}
            ,{d, test, true}
	    ,debug_info
	   ]}. % uncomment to get debug messages, remove debug_info for production
{dialyzer_opts, [{warnings, [unmatched_returns, race_conditions, error_handling, underspecs]}]}.
{lib_dirs, ["../lib", "apps/"]}.
{sub_dirs, ["../lib/whistle-1.0.0", "../lib/whistle_amqp-1.0.0", "../lib/whistle_couch-1.0.0"
	    ,"apps/cdr", "apps/hangups", "apps/trunkstore", "apps/carriers", "apps/dth", "apps/stepswitch"
	    ,"apps/registrar", "apps/crossbar", "apps/callflow", "apps/media_mgr", "apps/notify"
	    ,"apps/conference", "apps/jonny5", "apps/hotornot"
	   ]}.
{cover_enabled, true}.
