%% put this in /etc/rabbitmq/rabbitmq.config
[
 {rabbitmq_federation,
  [ {exchanges, [
		 [{exchange, "targeted"}
		  ,{type, "direct"}
		  ,{virtual_host,"/}"}
		  %% {durable, true}, %% defaults
		  %% {auto_delete, false},
		  %% {internal, false},
		  ,{upstream_set, "upstream_name"}
		 ]
		]}
    ,{upstream_sets, [{"upstream_name", [[{connection, "upstream-server"}
					  %% ,{exchange, "my-upstream-x"}, %% if you want to pull from a different upstream exchange, otherwise matches 
					  %% ,{max_hops, 2}, %% keeps messages from being bounced around, defaults to 1 hop
					 ]
					 ,[{connection, "another-server"}]
					]}
                     ]},
    {connections, [{"upstream-server", [{host, "upstream-server.hostname.com"}
					%% ,{protocol, "amqps"} %% defaults to "amqp"
					%% ,{port, 5671} %% defaults to 5672
					%% ,{virtual_host, "/"} %% defaults to "/"
					%% ,{username, "myusername"} %% defaults to "guest"
					%% ,{password, "secret"} %% defaults to "guest"
					%% ,{mechanism, default}
					%% ,{prefetch_count, 1000} %% default is 'none'
					%% ,{reconnect_delay, 5} %% default is 1
					%% ,{heartbeat, 1} %% default is 'none'
					%% ,{expires, 30000} %% default is 'none'
					%% ,{message_ttl, 10000} %% default is 'none'
					%% ,{ssl_options,
					%%  [{cacertfile, "/path/to/cacert.pem"}
					%%   ,{certfile, "/path/to/cert.pem"}
					%%   ,{keyfile, "/path/to/key.pem"}
					%%   ,{verify, verify_peer}
					%%   ,{fail_if_no_peer_cert, true}
					%%  ]}
				       ]}
		   %%,{"another-server", [...elided...]}
		  ]}
    %%,{local_username, "myusername"} %% useful is the local user is differnt from the upstream (defaults to guest)
    %%,{local_nodename, "my-server"} %% not generally needed
  ]
 }

 %% default mnesia config
 ,{mnesia, [{dump_log_write_threshold, 1000}]}
].
